[Unit]
Description=Governator
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/governator -D
Restart=always

[Install]
WantedBy=multi-user.target
